@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.portfolio {
  @include tablet {
    display: flex;
  }

  &__nav {
    list-style-type: none;
    background-color: $color-pale;
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      width: 20rem;
      flex-direction: column;
      padding-left: 1rem;
    }
    & li {
      flex-grow: 1;
    }
    &--button {
      padding: 1.5rem 1rem;
      border: 0;
      flex-grow: 1;
      background-color: transparent;
      width: 100%;
      @include tablet {
        border-bottom: 1px solid $color-purple-royal;
      }
    }
  }
}

.section {
  @include padding-components;
}
