@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.experience {
    margin-left: 3rem;
    border-left: 3px solid $color-quartz;
    padding-left: 1rem 0;

  &__icon{
    margin-left: (-1.5rem);
  }

  &__img {
    width: 3rem;
    background-color: $color-pale;
    border-radius: 20px;
    padding: 0.2rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    border: 3px solid $color-quartz;
  }
  
  &__text{
    padding: 0.5rem 1rem 1.5rem 1rem;
  }
}
