@use "variables" as *;
@use "mixins" as *;
@use "fonts" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  color: $color-black;
  line-height: 1.1rem;

  @include tablet {
    font-size: 0.9375rem;
  }

  @include desktop {
    font-size: 1rem;
  }
}

h1 {
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: $color-purple-royal;
}

h2 {
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: $color-black;
  line-height: 1.8rem;
}

h3 {
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-candy;
  line-height: 2rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 2rem;
}

.button {
  @extend p;

  &:hover {
    color: $color-white-whisper;
    background-color: $color-purple-royal;
    font-weight: 600;
  }
}

.active {
  background-color: $color-quartz;
}
