@use "variables" as *;
@use "mixins" as *;
@use "fonts" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: $color-black;
}

h1 {
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: $color-purple-royal;
}

h2 {
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: $color-black;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: $color-candy;
}

h4 {
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: 13px;
  font-weight: 500;
}



.button {
  @extend p;

  &:hover {
    color: $color-white-whisper;
    background-color: $color-purple-royal;
    font-weight: 600;
  }
}

.active{
  background-color: $color-quartz;
}
