@use "variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin padding {
  padding: 1rem;

  @include tablet {
    padding: 1rem 1.5rem;
  }

  @include desktop {
    padding: 2 2.5rem;
  }
}

@mixin padding-sides {
  padding: 0 1rem;

  @include tablet {
    padding: 0 1.5rem;
  }

  @include desktop {
    padding: 0 2.5rem;
  }
}
