@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.hero {
    // background-color: $color-white-whisper;
    display: flex;
    position: relative;

    &__bg{
    position: absolute;
    z-index: -1;
       width: 100vw; 
       @include desktop{
        width: 67.5rem; 
       }
    }
}