@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.hero {
  display: flex;
  position: relative;

  &__bg {
    z-index: 0;
    margin: auto;
    width: 100vw;
    max-height: 50vh;
    object-fit: cover;
  }

  &__joke {
    position: absolute;
    padding-right: 1rem;
    z-index: 1;
    left: 10%;
    top: 35%;

    &--set-up {
      font-size: 0.875rem;

      @include tablet {
        font-size: 1.375rem;
      }

      @include desktop {
        font-size: 2.25rem;
      }
    }

    &--punch-line {
      @include tablet {
        font-size: 1.125rem;
        padding-top: 1rem;
      }

      @include desktop {
        font-size: 1.5rem;
        padding-top: 1.5rem;
      }
    }
  }
}
