@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.project {
  margin: 0;
  @include padding-components;

  @include tablet {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  @include desktop {
  padding: 0;
  }

  &__img-box {
    @include tablet {
    }
  }

  &__image {
    width: 100%;
    height: 50vw;
    object-fit: cover;

    @include tablet {
      object-position: center;
      width: 40vw;
      height: 35vw;
    }

    @include desktop {
      width: 35vw;
      height: 35vw;
    }
  }

  &__txt-box {
    padding: 1rem 0;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      width: 40vw;
      height: 35vw;
      border: 1px solid $color-pale;
    }

    @include desktop {
      width: 35vw;
    }
  }

  &__skills {
    margin: 1rem;
    @include padding-components;
  }

  &__link {
    padding: 0.2rem 1rem 0.2rem 0.2rem;
    display: flex;
    align-items: center;

    &--img {
      background-color: $color-quartz;
      border-radius: 15px;
      padding: 0.2rem;
      margin-right: 0.5rem;
    }
  }

  &__box {
    display: flex;
  }
}
