@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.photo {
  padding: 0.75rem;

  &__img {
    width: 100%;
    @include desktop {
      width: 100vh;
    }
  }

  &__tittle {
    justify-self: end;
    margin: 0.3rem 0;

    &--description {
          display: block;
      justify-self: end;
    }
  }
}
