@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // background-color: $color-quartz;
  background-color: $color-white-whisper;
  position: relative;
  flex-direction: column;
  align-items: start;
  text-decoration: none;
  width: 100%;
  @include padding-components;

  @include tablet {
    position: sticky;
    flex-direction: row;
  }

  &__tittle {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include tablet {
      width: 50vw;
    }
  }

  &__menu {
    @include tablet {
      display: none;
    }
  }

  &__logo {
    display: flex;
    text-decoration: none;

    &--icon {
      height: 2.4rem;
      padding-right: 1rem;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-evenly;

  @include tablet {
    position: relative;
    flex-direction: row;
    height: auto;
    align-items: center;
  }

  &__button {
    list-style-type: none;
    height: auto;

    &--link {
      text-decoration: none;
      color: $color-purple-royal;
      padding: 0.5rem 0.8rem;

      @include tablet {
        font-size: 1rem;
        // align-items: center;
      }

      &:hover {
        color: $color-white-whisper;
        background-color: $color-purple-royal;
        fill: $color-white-whisper;
      }
    }

    &--icon {
      // text-decoration: none;
      color: $color-purple-royal;
      padding: 0.1rem;
      margin: 0rem 0.8rem;
      fill: $color-purple-royal;

    

      &:hover {
        color: $color-white-whisper;
        background-color: $color-purple-royal;
        fill: $color-white-whisper;
        border-radius: 2px;
      }
    }
  }
}

.aside--hide {
  display: none;

  @include tablet {
    display: flex;
  }
}
