@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white-whisper;
  @include padding-components;

  &__logo {
    text-decoration: none;
    display: flex;

    &--icon {
      height: 2.5rem;
      padding: 0 0.5rem;
      @include tablet {
        height: 2.5rem;
      }
    }

    &--text {
    }
  }

  &__button {
    padding: 0.5rem;
    align-items: center;

    @include tablet {
      height: 0.85rem;
      padding: 1rem;
    }
  }
}
