@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  background-color: $color-white-whisper;
  @include padding-components;

  &__logo {
    text-decoration: none;
    display: flex;
  

    &--icon{
      height: 2.5rem;
      padding: 0 0.5rem;
      @include tablet {
        height: 2.5rem;
      }
    }

    &--text{

    }
  }

  &__button-icon {
    height: 0.5rem;
    margin: 0 0.3rem 0 0.3rem;
    align-self: flex-end;
    width: auto;
    @include tablet {
      height: 0.85rem;
      margin: 0 0.5rem;
    }
  }
}

.logo {
  padding: 0 0.5rem;
  // text-align: center;
  height: 2rem;
  // font-weight: 700;
  @include tablet {
    // padding: 0.6875rem 1.375rem;
    height: 2.5rem;
  }
  &:hover {
    cursor: pointer;
  }
  &--selected {
  }
  &--without-border {
    border: none;
  }
}
