@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.about {
  &__profile {
    background-color: $color-black;
    @include padding;

    &--title {
      color: $color-quartz;
    }

    &--detail {
      color: $color-quartz;
      max-width: $tablet-breakpoint;
      @include padding;
    }
  }

  &__dot {
    background-color: $color-quartz;
    border-radius: 0.9375rem;
    padding: 2px;
    width: 2rem;
    margin-left: 1rem;

    @include tablet {
      margin-left: 2.1rem;
    }
  }
}
