@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.case {
  @include padding;

  @include tablet {
    padding: 0;
  }

  &__multimedia {
    display: flex;
    justify-content: center;
    background-color: #f2d5e5;

    &--logo {
      width: 100%;
      height: 50vw;
      object-fit: cover;

      @include tablet {
        object-position: center;
        width: 49vw;
        height: 20vw;
      }
    }

    &--chart {
      width: 100%;
      height: auto;
      @include padding;

      @include tablet {
        display: flex;
        width: 70vw;
        margin: auto;
      }

      @include desktop {
      }
    }
  }
  &__text {
    width: 100%;

    @include tablet {
      @include padding;
    }

    @include desktop {
      width: $desktop-breakpoint;
    }

    &--tag {
      background-color: $color-quartz;
      margin: 1rem;
      padding: 1rem 4rem;
    }

    &--list {
      padding: 0;
    }
  }
}

.divider {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__container {
    @include padding;

    @include tablet {
      max-width: 45vw;
    }
    @include desktop {
      width: 43rem;
    }
  }
}
